@page 
@model LittleBlog.Web.Pages.ErrorModel
@{
    Layout = "_ErrorLayout";
    ViewData["Title"] = "出现错误！";
}

<h1 class="text-danger">出错了。</h1>
<h2 class="text-danger">处理您的请求时出现一个错误。</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>请求 ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    <strong>更多信息:</strong> <span>@Model.ExceptionMessage</span>
</p>