@using LittleBlog.Web.Common

@inject Microsoft.AspNetCore.Identity.SignInManager<LittleBlog.Web.Areas.Identity.Data.LittleBlogIdentityUser> SignInManager

    <ul class="nav nav-pills flex-column">
        <li>
            <a class="nav-link" id="">
                概述<span class="d-none d-xl-block">About</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @AdminNavManage.ManageNavClass(ViewContext)" id="manage" asp-controller="Manage" asp-action="Index">
                文章管理<span class="d-none d-xl-block">Articles Manage</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @AdminNavManage.CategoryManageNavClass(ViewContext)" id="categoryManage" asp-controller="CategoryManage" asp-action="Index">
                分类管理<span class="d-none d-xl-block">Categories Manage</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @AdminNavManage.TagManageNavClass(ViewContext)" id="tagManage" asp-controller="TagManage" asp-action="Index">
                标签<span class="d-none d-xl-block">Articles Manage</span>
            </a>
        </li>
        <li>
            <a class="nav-link" id="">
                用户管理<span class="d-none d-xl-block">Users Manage</span>
            </a>
        </li>
        <li>
            <a class="nav-link" id="">
                角色管理<span class="d-none d-xl-block">Roles Manage</span>
            </a>
        </li>
        <li>
            <a class="nav-link" id="">
                浏览记录<span class="d-none d-xl-block">Browse Records</span>
            </a>
        </li>
    </ul>