<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LittleBlog</title>

    <link rel="stylesheet" href="~/lib/antd/antd.less"/>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/highlight/styles/monokai.css" />
</head>
<body>
    <div id="app">
        <a-layout>
            <a-layout-header>
                Header
            </a-layout-header>
            <a-layout>
                @RenderBody()
            </a-layout>
            <a-layout-footer>
                Footer
            </a-layout-footer>
        </a-layout>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/lib/antd/antd.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/highlight/highlight.pack.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
