@model LittleBlog.Web.Models.ViewModels.SidebarViewModel


<div class="card">
    <div class="card-header">
        个人信息
    </div>
    <div class="card-body">

    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        日历
    </div>
    <div class="card-body">

    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        搜索
    </div>
    <div class="card-body">

    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        常用链接
    </div>
    <div class="card-body">

    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        归档 / Archive
    </div>
    <div class="card-body">

    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        标签 / Tags
    </div>
    <div class="card-body">

    </div>
</div>
