<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @await Component.InvokeAsync("SiteName")</title>
    <link rel="stylesheet" href="~/lib/bootstrapv5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@await Component.InvokeAsync("SiteName")</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="friendship-links">
        <div class="container ">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h5>
                        博客
                    </h5>
                    <a class="nav-link text-black-50 lp-0" href="https://www.cnblogs.com/FFFirer/">Watt不想上班</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h5>
                        文档资源
                    </h5>
                    <a class="nav-link text-black-50 lp-0" href="https://docs.microsoft.com/zh-cn/">Microsoft Docs</a>
                    <a class="nav-link text-black-50 lp-0" href="https://docs.microsoft.com/zh-cn/dotnet/api/">.NET API浏览器</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h5>
                        项目开源
                    </h5>
                    <a class="nav-link text-black-50 lp-0" href="https://gitee.com/fffirer/LittleBlog">[Gitee.com]FFFirer/LittleBlog</a>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer text-muted">
        <div class="container">
            @await Component.InvokeAsync("FilingFoot")
            &copy; 2021 - @await Component.InvokeAsync("SiteName") - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrapv5/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
