@model LittleBlog.Core.Models.WebSiteFiling

@if (!string.IsNullOrEmpty(Model.Number))
{
    <a href="https://beian.miit.gov.cn" class="link" style="margin-right: 20px; text-decoration: none">
        @Model.Number
    </a>
}

