@model LittleBlog.Web.Models.ViewModels.Archive.ArchiveIndexViewModel

@{
    ViewData["Title"] = "Archived Articles";
}


<div class="row">
    <div class="col-sm-8">
        @foreach (var archivedList in Model.ArchivedArticleList)
        {
            <div class="card">
                <div class="card-header">
                    @archivedList.ArchiveDate
                </div>
                @foreach (var article in archivedList.Articles)
                {
                    <div class="card-body">
                        <a asp-area="" asp-controller="Article" asp-action="Index" asp-route-id="@article.Id">
                            <h4 class="card-title">
                                @article.Title
                            </h4>
                        </a>
                        <p class="card-text">
                            @article.Abstract
                        </p>
                    </div>
                }
            </div>
            <br />
        }
    </div>
    <div class="col-sm-4">
        @await Component.InvokeAsync("Sidebar")
    </div>
</div>