@model LittleBlog.Web.Models.ViewModels.Manage.ArticleEditViewModel
@{
    ViewData["Title"] = "Manage Edit";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="articleEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" readonly="readonly" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <div id="editor">
                    @Html.Raw(Model.Content)
                </div>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="IsPublish" type="checkbox" asp-for="IsPublished"> 发布
                </label>
            </div>
            <input type="button" value="Save / 保存" onclick="Save()" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script type="text/javascript" src="~/lib/wangEditor/wangEditor.min.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.customConfig.uploadImgShowBase64 = true;
    editor.create();

    //提交保存
    function Save() {
        let formdata = {};
        formdata.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        formdata.Id = $('#Id').val();
        formdata.Title = $('#Title').val();
        formdata.Author = $('#Author').val();
        formdata.Content = editor.txt.html();
        formdata.IsPublished = $('#IsPublished')[0].checked;
        console.log(formdata);
        Submit(formdata);
    }

    function Submit(data) {
        $.ajax({
            url: '@Url.Action("Edit", "Manage")',
            type: 'post',
            data: data,
            success: function (json) {
                if (json.isSuccess) {
                    location.href = '@Url.Action("Index", "Manage")'
                } else {
                    alert(json.message);
                }
            },
            error: function (err) {
                console.error(err);
                alert(err.responseText);
            }
        })
    }

</script>
}