@page
@model LittleBlog.Web.Pages.PrivacyModel
@{
}

<blockquote class="blockquote">
    <p class="h1">
        隐私政策
    </p>
</blockquote>

<div>
    <p>
        <span class="text-muted">
            更新时间
        </span>
        <span>
            2021年7月4日
        </span>
    </p>
</div>

<div>
    <p>
        <b>
            1. 我们使用的个人信息类型
        </b>
    </p>
    <p>
        本节说明我们将向您收集不同类型的个人信息，以及我们如何收集这些信息。如果您想进一步了解特定数据类型以及我们如何使用这些数据。
    </p>
    <p>
        以下内容总结概括了我们使用的个人信息类型：
    </p>
    <p>
        <b>
            您提供给我们的信息
        </b>
    </p>
    <p>
        在您通过我们网站上的投资者及媒体联系页面提交问询，或使用本隐私政策中指定的联系信息联系我们时，您即向我们提供查询相关的特定信息。
    </p>
    <p>
        <b>
            Cookie
        </b>
    </p>
    <p>
        我们使用 Cookie（下称“Cookie”）来提升您的网站使用体验。Cookie 是一种文本文件，当放置在您的设备上时，能够让我们提供特定的特性和功能。
    </p>
</div>

<div>
    <p>
        <b>
            2. 我们如何使用您的个人信息
        </b>
    </p>
    <p>
        本节详细说明我们向您收集的个人信息类型以及收集的原因。
    </p>
    <p>

    </p>
</div>

<div>
    <p>
        <b>
            3.  我们如何存储和共享您的个人信息
        </b>
    </p>
</div>

<div>
    <p>
        <b>
            4. 个人信息的安全性
        </b>
    </p>
</div>

<div>
    <p>
        <b>
            5.  数据保留
        </b>
    </p>
</div>

<div>
    <p>
        <b>
            6. 您的权利
        </b>
    </p>
</div>

<div>
    <p>
        <b>
            7.  联系和投诉
        </b>
    </p>
</div>

<div>
    <p>
        <b>
            8. 变更
        </b>
    </p>
</div>